{% extends 'student/student_layout.html' %}

{% block title %}
    My Books
{% endblock %}

{% block style %}
<style>
      .table{
        margin-left: 5rem;
        margin-right: 6rem;
        max-width: calc(100% - 10rem);
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
      }

      .active-requests{
        margin-bottom: 6rem;
      }
    </style>
{% endblock %}

{% block body %}
  <h1 class="heading">My Issued Books</h1>
  
  <div class="container">
    <div class="row">
      <div class="col">

  <table class="table table-bordered table-striped active-requests">
    <thead class="table-dark">
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Book Name</th>
            <th scope="col">Issued Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Action</th> <!-- New column without heading -->
        </tr>
    </thead>
    <tbody>
        {% for i in range(1, 6) %}
            <tr>
                <td>{{ i }}</td>
                <td>
                    {% if books[i-1] %}
                        {{ books[i-1][0] }}
                    {% else %}
                        ....
                    {% endif %}
                </td>
                <td>
                    {% if books[i-1] %}
                        {{ books[i-1][1] }}
                    {% else %}
                        ....
                    {% endif %}
                </td>
                <td>
                    {% if books[i-1] %}
                        {{ books[i-1][2] }}
                    {% else %}
                        ....
                    {% endif %}
                </td>
                <td>
                    {% if books[i-1] %}
                    <a href="{{url_for('read_book', book_id=books[i-1][3])}}" target="_blank" class="btn btn-success">Read </a>
                    <a href="{{url_for('confirm_payment', book_id=books[i-1][3])}}" class="btn btn-primary">Download </a>
                    <a href="{{url_for('return_book_confirm', book_id=books[i-1][3])}}" class="btn btn-warning">Return </a>
                    {% else %}
                        ....
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>



<h1 class="heading">Recently Over Issues</h1>
  
  <div class="container">
    <div class="row">
      <div class="col">

  <table class="table table-bordered table-striped active-requests">
    <thead class="table-dark">
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Book Name</th>
            <th scope="col">Issued Date</th>
            <th scope="col">Returned Date</th> <!-- New column without heading -->
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(1, 6) %}
            <tr>
                <td>{{ i }}</td>
                <td>
                    {% if expires[i-1] %}
                        {{ expires[i-1][0] }}
                    {% else %}
                        ....
                    {% endif %}
                </td>
                <td>
                    {% if expires[i-1] %}
                        {{ expires[i-1][1] }}
                    {% else %}
                        ....
                    {% endif %}
                </td>
                <td>
                    {% if expires[i-1] %}
                        {{ expires[i-1][2] }}
                    {% else %}
                        ....
                    {% endif %}
                </td>
                <td>
                    {% if expires[i-1] %}
                        {{ expires[i-1][3] }}
                    {% else %}
                        ....
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
{% endblock %}