{% extends 'student/student_layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block style %}
  <style>
    .form{
        margin-top: 0rem;
        font-size: 1.7rem;
    }

    .form-control{
        width: 30rem;
        margin: 0 auto;
    }

    .btn{
        margin-top: 2rem;
        background-color: #BAEE76;
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        width: 15rem;
    }
  </style>
{% endblock %}

{% block body %}
    <form class="form" method="post">
        <h1 class="heading">Register</h1>

        <div>
            <label for="username" class="col-form-label">Username</label>
            <input type="text" name="username" placeholder="Enter a username" class="form-control" required>
        </div>

        <div>
            <label for="password" class="col-form-label">Password</label>
            <input type="password" name="password" placeholder="Enter a strong password" class="form-control" required>
        </div>

        <div>
            <label for="confirm-password" class="col-form-label">Confirm Password</label>
            <input type="password" name="confirm-password" placeholder="Confirm the entered password" class="form-control" required>
        </div>

        <div>
            <label for="name" class="col-form-label">Name</label>
            <input type="text" name="name" placeholder="Enter your name" class="form-control">
        </div>

        <div>
            <label for="stream" class="col-form-label">Stream <i>(optional)</i> </label>
            <input type="text" name="stream" placeholder="Enter the stream of your course" class="form-control">
        </div>

        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-success me-5">SIGN UP</button>
        </div>
    </form>
    
{% endblock %}