{% extends 'student/student_layout.html' %}

{% block title %}
    Return Book
{% endblock %}

{% block style %}
<style>
      .form{
        margin-top: 0rem;
        font-size: 1.7rem;
    }

    .form-control{
        width: 30rem;
        margin: 0 auto;
    }

    .btn{
        margin-top: 2rem;
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        width: 15rem;
    }
</style>
{% endblock %}

{% block body %}

    <h1 class="heading">Return Book : "{{title}}"</h1>

    <h4>Are you sure you want to return this book?</h4>

    <div class="col-12 d-flex justify-content-center">
        <a href="{{url_for('return_book', book_id=book_id)}}" class="btn btn-warning me-5">Return</a>
    </div>
</form>

{% endblock %}