{% extends 'student/student_layout.html' %}

{% block title %}
    Profile Page
{% endblock %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Lusitana:wght@400;700&family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        text-align: center;
        background-color: #D2FFFC;
        font-family: "Lusitana", serif;
        margin-bottom: 1rem;
    }

    .logo{
        color: purple;
        font-family: "Permanent Marker", cursive;
        font-weight: 300;
        font-size: 4rem;
        background-color: #FCF54D;
        margin-bottom: 0;
      }
  
      h1{
          font-family: "Laila", serif;
          font-size: 2.2rem;
          margin-bottom: 2rem;
      }
  
      .nav-link{
        font-size: 1.2rem;
        font-family: "Tauri", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
{% endblock %}

{% block body %}
    <h1>Hello Dashboard coming soon</h1>
{% endblock %}