{% extends 'student/student_layout.html' %}

{% block title %}
    Student Login
{% endblock %}

{% block style %}
    <style>      
          .form{
              margin-top: 0rem;
              font-size: 1.7rem;
          }
      
          .form-control{
              width: 30rem;
              margin: 0 auto;
          }

        .btn{
            margin-top: 2rem;
            background-color: #BAEE76;
            color: black;
            font-size: 1.5rem;
            font-weight: 700;
            width: 15rem;
        }

    </style>
{% endblock %}

{% block body %}
    <form class="form" method="post">
        <h1 class="heading">Student Login</h1>

        <div>
            <label for="username" class="col-form-label">Username</label>
            <input type="text" name="username" placeholder="Enter your username" class="form-control" required>
        </div>
        <!-- <br> -->
        <div>
            <label for="password" class="col-form-label">Password</label>
            <input type="password" name="password" placeholder="Enter your password" class="form-control" required>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-success">LOGIN</button>
        </div>
    </form>
{% endblock %}