{% extends 'layout.html' %}

{% block title %}
    Edit Section
{% endblock %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Lusitana:wght@400;700&family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        text-align: center;
        background-color: #D2FFFC;
        font-family: "Lusitana", serif;
        margin-bottom: 1rem;
    }

    .logo{
        color: purple;
        font-family: "Permanent Marker", cursive;
        font-weight: 300;
        font-size: 4rem;
        background-color: #FCF54D;
        margin-bottom: 0;
      }
  
      .heading{
          font-family: "Laila", serif;
          font-size: 2.2rem;
          margin-bottom: 2rem;
      }
  
      .nav-link{
        font-size: 1.2rem;
        font-family: "Tauri", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .form{
        margin-top: 0rem;
        font-size: 1.7rem;
    }

    .form-control{
        width: 30rem;
        margin: 0 auto;
    }

    .btn{
        margin-top: 2rem;
        background-color: #BAEE76;
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        width: 15rem;
    }
</style>
{% endblock %}

{% block body %}

<form class="form" method="post">
    <h1>Edit Section: "{{section.title}}" </h1>

    <div>
        <label for="title" class="col-form-label">Title</label>
        <input type="text" name="title" placeholder="Enter title for category" value="{{section.title}}" class="form-control" required>
    </div>

    <div>
        <label for="description" class="col-form-label">Description</label>
        <input type="text" name="description" placeholder="Enter description for category" value="{{section.description}}" class="form-control">
    </div>

    <div>
        <label for="date" class="col-form-label">Date</label>
        <input type="date" name="date" placeholder="Date created" value="{{section.date_created}}" class="form-control" readonly>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-success me-5">Update</button>
    </div>
</form>

{% endblock %}