{% extends 'lib_layout.html' %}

{% block title %}
    Edit Book
{% endblock %}

{% block style %}
<style>
      .form{
        margin-top: 0rem;
        font-size: 1.7rem;
    }

    .form-control{
        width: 30rem;
        margin: 0 auto;
    }

    .btn{
        margin-top: 2rem;
        background-color: #BAEE76;
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        width: 15rem;
    }
</style>
{% endblock %}

{% block body %}
<form class="form" method="post" enctype="multipart/form-data">
    <h1 class="heading">Edit Book: "{{book.title}}"</h1>

    <div>
        <label for="title" class="col-form-label">Title</label>
        <input type="text" name="title" placeholder="Enter title of the book" value="{{book.title}}" class="form-control" required>
    </div>

    <div>
        <label for="author" class="col-form-label">Author/Authors</label>
        <input type="text" name="author" placeholder="Enter authors of the book" value="{{book.author}}" class="form-control" required>
    </div>

    <div>
        <label for="image" class="col-form-label">Image Link <i>(optional)</i> </label>
        <input type="url" name="image" placeholder="Link of cover page's image of the book" value="{{book.image}}" class="form-control">
    </div>

    <div>
        <label for="pages" class="col-form-label">Pages</label>
        <input type="number" name="pages" min="1" placeholder="Enter number of pages of the book" value="{{book.pages}}" class="form-control" required>
    </div>

    <div>
        <label for="language" class="col-form-label">Language</label>
        <input type="text" name="language" placeholder="Enter language of the book" value="{{book.language}}" class="form-control" required>
    </div>

    <label for="book_pdf" class="col-form-label">Book PDF</label>
    <input type="file" name="book_pdf" placeholder="Upload pdf file of the book" value="book_pdfs/Book_{{ book.book_id }}.pdf" class="form-control" required>

    <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-success me-5">Update</button>
    </div>
</form>

{% endblock %}