{% extends 'lib_layout.html' %}

{% block title %}
    Books
{% endblock %}

{% block style %}
<style>
      .fa-solid{
        color: green
      }

      .fa-solid:hover{
        color: darkgreen;
      }

      .book{
        display: flex;
        border: 3px solid black;
        margin: 1rem 3rem 1rem 3rem;
        border-radius: 2rem;
        position: relative;
        font-family: "Montserrat", sans-serif;
      }

      .img-container{
        width: 18rem;
        height: 22rem;
        border: 0.5px solid black;
        overflow: hidden;
        margin: 1rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .img-container img{
        object-fit: contain;
        height: auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }

      .details{
        margin-top: 1rem;
        text-align: left;
      }

      .details .title{
        font-weight: 700;
        word-wrap: break-word;
        max-width: 55rem;
      }

      .details .author{
        font-style: italic;
        margin-bottom: 5rem;
      }

      .details .language{
        position: absolute;
        bottom: 0;
        margin-bottom: 9rem;
      }

      .details .issues{
        position: absolute;
        bottom: 0;
        margin-bottom: 7rem;
      }

      .details .controls{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 1rem;
        margin-right: 1rem;
      }

      .details .fa-square-pen{
        margin-right: 1rem;
      }

      .details .view{
        border: 2px solid #000;
        border-radius: 1rem;
        background-color: #BAEE76;
        font-size: 1.3rem;
        transition: .3s;
        padding: .5rem 1rem .5rem 1rem;
        width: 10rem;
        margin-right: 2rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;
      }

      .details .view:hover{
        box-shadow: 6px 6px #8ec151;
        transition: .3s;
      }

      .pages{
        border: 2px solid #000;
        border-radius: 50%;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 2rem;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0rem 2rem 1rem 2rem;
        text-align: center;
        width: 10rem;
      }

      .feedbacks{
        text-align: left;
        margin-left: 3rem;
        margin-right: 3rem;
      }

      .feedbacks .text{
        font-family: "Montserrat", sans-serif;
      }

      .num{
        text-align: center;
      }
    </style>
{% endblock %}

{% block body %}
    <h1 class="heading">{{book.title}}</h1>

        <div class="book">
            <div class="img-container">
                <img src="{{book.image}}" alt="{{ book.title }} Cover">
            </div>
            <div class="details">
                <h1 class="title">{{book.title}}</h1>
                <h2 class="author">{{book.author}}</h2>
                <h4 class="language">Language: {{book.language}}</h4>
                <h4 class="issues">Active Issues: {{count}}</h4>

            <div class="controls">
                <a href=" {{url_for('edit_book', section_id=section.section_id, book_id=book.book_id) }}"> <i class="fa-solid fa-square-pen fa-2x"></i> </a>
                <a href=" {{url_for('delete_book', section_id=section.section_id, book_id=book.book_id) }}"> <i class="fa-solid fa-trash fa-2x"></i> </a>
            </div>

                <a href="{{url_for('view_book', section_id=book.section.section_id, book_id=book.book_id)}}" target="_blank"> <button class="view">View Book</button> </a>                
                <span class="pages">{{book.pages}} <br> <h5>pages</h5></span>
            </div>
        </div>

      <h1 class="heading">Reviews</h1>
      <h1 class="num">{{reviews|length}} reviews</h1>
      <div class="feedbacks">
        {% for review in reviews %}
          <h3><b>{{review[0]}}</b></h3>
          <h4 class="text">{{review[1]}}</h4>
          <hr>
        {% endfor %}
      </div>
{% endblock %}