{% extends 'layout.html' %}

{% block title %}
    Admin Page
{% endblock %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Lusitana:wght@400;700&family=Permanent+Marker&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        text-align: center;
        background-color: #D2FFFC;
        font-family: "Lusitana", serif;
        margin-bottom: 1rem;
    }

    .logo{
        color: purple;
        font-family: "Permanent Marker", cursive;
        font-weight: 300;
        font-size: 4rem;
        background-color: #FCF54D;
        margin-bottom: 0;
      }
  
      .heading{
          font-family: "Laila", serif;
          font-size: 2.2rem;
          margin-bottom: 2rem;
      }
  
      .nav-link{
        font-size: 1.2rem;
        font-family: "Tauri", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .fa-solid{
        color: green
      }

      .fa-solid:hover{
        color: darkgreen;
      }

      .sections{
        display: flex;
        margin-left: 9rem;
        margin-right: 9rem;
        margin-top: 4rem;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
      }

      .section{
        background-color: #7EF9CD;
        padding: 1rem;
        width: 20rem;
        height: 25rem;
        border-radius: 2rem;
        position: relative;
      }

      .section h4{
        text-align: right;
      }

      .section h1{
        font-weight: 600;
      }

      .section p{
        white-space: wrap;
        overflow-wrap: break-word;
      }

      .controls{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
      }

      .controls .fa-square-pen{
        margin-left: 1rem;
      }

      .controls .fa-trash{
        margin-right: 1rem;
      }

      .section .show{
        border: 2px solid #000;
        border-radius: 1rem;
        background-color: #BAEE76;
        font-size: 1.3rem;
        transition: .3s;
        padding: .5rem 1rem .5rem 1rem;
      } 

      .section .bottom{
        position: absolute;
        bottom: 0;
        margin-bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        border: 2px solid #000;
        border-radius: 1rem;
        background-color: #BAEE76;
        font-size: 1.3rem;
        transition: .3s;
      }

      .section button:hover{
        box-shadow: 6px 6px #8ec151;
        transition: .3s;
      }
    </style>
{% endblock %}

{% block body %}
    <h1 class="heading">Welcome, {{username}} </h1>
    <a href="{{ url_for('add_category') }}">
        <i class="fa-solid fa-circle-plus fa-4x"></i>
    </a>

    <div class="sections">
        {% for section in sections %}

        <div class="section">
            <h4>{{section.date_created}}</h4>
            <h1>{{section.title}}</h1>
            <p>{{section.description}}</p>

            <div class="controls">
                <a href=" {{url_for('edit_category', id=section.section_id) }}"> <i class="fa-solid fa-square-pen fa-2x"></i> </a>
                <a href=" {{url_for('show_category', id=section.section_id) }}"> <button class="show">Show</button> </a>
                <a href=" {{url_for('delete_category', id=section.section_id) }}"> <i class="fa-solid fa-trash fa-2x"></i> </a>
            </div>
            
            <a href="{{ url_for('add_book') }}"><button class="bottom">Add a Book</button></a>
        </div>

        {% endfor %}
    </div>
{% endblock %}