{% extends 'lib_layout.html' %}

{% block title %}
    {{book.title}} Book
{% endblock %}

{% block style %}
<style>
      .book{
        display: flex;
        border: 3px solid black;
        margin: 1rem 4rem 1rem 4rem;
        border-radius: 2rem;
        position: relative;
        font-family: "Montserrat", sans-serif;
      }

      .img-container{
        width: 18rem;
        height: 22rem;
        border: 0.5px solid black;
        overflow: hidden;
        margin: 1rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .img-container img{
        object-fit: contain;
        height: auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }

      .details{
        margin-top: 1rem;
        text-align: left;
      }

      .details .title{
        font-weight: 700;
      }

      .details .author{
        font-style: italic;
        margin-bottom: 5rem;
      }

      .details .language{
        position: absolute;
        bottom: 0;
        margin-bottom: 9rem;
      }

      .details .view{
        border: 2px solid #000;
        border-radius: 1rem;
        background-color: #BAEE76;
        font-size: 1.3rem;
        transition: .3s;
        padding: .5rem 1rem .5rem 1rem;
        width: 10rem;
        margin-right: 2rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;
      }

      .details .view:hover{
        box-shadow: 6px 6px #8ec151;
        transition: .3s;
      }

      .pages{
        border: 2px solid #000;
        border-radius: 50%;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 2rem;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0rem 2rem 1rem 2rem;
        text-align: center;
        width: 10rem;
      }
    </style>
{% endblock %}

{% block body %}
  <h1 class="heading">Book Details</h1>

  <div class="book">
    <div class="img-container">
        <img src="{{book.image}}" alt="{{ book.title }} Cover">
    </div>
    <div class="details">
        <h1 class="title">{{book.title}}</h1>
        <h2 class="author">{{book.author}}</h2>
        <h4 class="language">Language: {{book.language}}</h4>

        <span class="pages">{{book.pages}} <br> <h5>pages</h5></span>
    </div>
</div>
{% endblock %}