{% extends 'lib_layout.html' %}

{% block title %}
    Sections
{% endblock %}

{% block style %}
<style>
      .fa-solid{
        color: green
      }

      .fa-solid:hover{
        color: darkgreen;
      }

      .sections{
        display: flex;
        margin-left: 9rem;
        margin-right: 9rem;
        margin-top: 4rem;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
      }

      .section{
        background-color: #7EF9CD;
        padding: 1rem;
        width: 20rem;
        height: 25rem;
        border-radius: 2rem;
        position: relative;
      }

      .section .num{
        display: inline;
        text-align: left;
        border: solid 2px black;
        border-radius: 500%;
        margin-right: 6rem;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #BAEE76;
        font-size: 2rem;
        width: 6rem;
      }

      .section .date{
        display: inline;
        text-align: right;
      }

      .section h1{
        font-weight: 600;
        white-space: wrap;
        overflow-wrap: break-word;
      }

      .section p{
        white-space: wrap;
        overflow-wrap: break-word;
      }

      .controls{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.7rem;
        margin-top: 2rem;
      }

      .controls .fa-square-pen{
        margin-left: 1rem;
      }

      .controls .fa-trash{
        margin-right: 1rem;
      }

      .section .show{
        border: 2px solid #000;
        border-radius: 1rem;
        background-color: #BAEE76;
        font-size: 1.3rem;
        transition: .3s;
        padding: .5rem 1rem .5rem 1rem;
      } 

      .section .bottom{
        position: absolute;
        bottom: 0;
        margin-bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        font-size: 1.3rem;
        transition: .3s;
      }

      .section button{
        width: 10rem;
      }

      .section button:hover{
        box-shadow: 6px 6px #8ec151;
        transition: .3s;
      }
    </style>
{% endblock %}

{% block body %}
    <h1 class="heading">Sections</h1>
    <a href="{{ url_for('add_section') }}">
        <i class="fa-solid fa-circle-plus fa-4x"></i>
    </a>

    <div class="sections">
        {% for section in sections %}
        

        <div class="section">
            <div class="num">
              {{section.books|length}}</div>
            <h4 class="date">{{section.date_created}}</h4>
            <h1>{{section.title}}</h1>
            <p>{{section.description}}</p>

            <div class="controls bottom">
                <a href=" {{url_for('edit_section', section_id=section.section_id) }}"> <i class="fa-solid fa-square-pen fa-2x"></i> </a>
                <a href=" {{url_for('open_section', section_id=section.section_id) }}"> <button class="show">Open</button> </a>
                <a href=" {{url_for('delete_section', section_id=section.section_id) }}"> <i class="fa-solid fa-trash fa-2x"></i> </a>
            </div>
        </div>

        {% endfor %}
    </div>
{% endblock %}