{% extends 'lib_layout.html' %}

{% block title %}
    Active Requests
{% endblock %}

{% block style %}
<style>
      .table{
        margin-left: 5rem;
        margin-right: 6rem;
        max-width: calc(100% - 10rem);
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
      }

      a{
        text-decoration: none;
        color: #000;
      }

      a:hover{
        color: blue;
      }
    </style>
{% endblock %}

{% block body %}
  <h1 class="heading">Active Requests</h1>
  
  <div class="container">
    <div class="row">
      <div class="col">

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">User</th>
            <th scope="col">Book Name</th>
            <th scope="col">Action</th> <!-- New column without heading -->
        </tr>
    </thead>
    <tbody>
        {% for i in range(entries|length) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>
                    <a href="{{url_for('view_student_profile', username=entries[i][1])}}"> {{entries[i][1]}} </a>
                </td>
                <td>
                    <a href="{{url_for('view_book_details', book_id=entries[i][2])}}"> {{entries[i][0]}} </a>
                </td>
                <td>
                    <a href="{{url_for('grant_book', username=entries[i][1], book_id=entries[i][2])}}" class="btn btn-success">Grant Book</a> 
                    
                    <a href="{{url_for('reject_request', username=entries[i][1], book_id=entries[i][2])}}" class="btn btn-danger">Cancel Request</a> 
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>

{% endblock %}